{% load static %}
{% load thumbnail %}
{% include 'monster/header.html' %}
{% load dna %}

<div class="container-fluid">
    <div class="row">
    <div class="col-md-2 mast" style="padding: 15px">
        <span class="badge badge-danger">Variant</span>
        <span class="uuid-mast" style="margin-top:0; padding-top:0;">{{ allele.variant.id }}</span>
        <h1><b>mv</b>{{ allele.variant }} <b>{{ allele.sequence }}</b></h1>

        <hr>  

            <table class="table table-hover table-active table-sm borderless" style="margin-bottom:0">
            {% for a in allele.varianteffect_set.all %}

                <tr style="background-color: #222; color: white;">
                    <th colspan=12>
                        <span class="badge badge-warning" style="color:black">Gene</span> <span>{{ a.gene.code }}</span>
                    </th>
                </tr>
                <tr style="background-color: #444; color: white;">
                    <th colspan=12>
                        <span style="font-size:1.6em"><b>{{ a.gene.desc }}</b></span></br>
                        <span style="font-size:0.8em"><b>{{ a.gene.name }}</b></span>
                    </th>
                </tr>

                    <tr>
                    {% for va in allele.variant.variantallele_set.all %}
                        {% for e in va.varianteffect_set.all %}
                        <td style="{% if e.allele.sequence == allele.sequence %}background-color:#333;color:white;{% else %}background-color:#ccc;color:black{% endif %}" class="text-center" width=25%>
                            <a href="{% url 'list_monster_allele' e.allele.variant.id e.allele.sequence %}"><span class="badge" style="margin: 10px 0 10px 0; font-size:1.1em; background-color:{% colour_allele e %}">&#128065;</span></a>
                                </br>
                            <span style="font-weight:bold; font-size:1.2em">{{ e.summary }}</span>
                        </td>
                        {% endfor %}
                    {% endfor %}
                    </tr>

                </table>


                <table class="table table-hover table-active table-sm borderless" style="margin-top:0; margin-bottom:0">

                {% for event in populations %}
                    <tr style="background-color: #444"><td>
                            <span style="font-size:1.2em; font-weight:bold;"><code>{{ event.short_name }}</code></span>  <span style="font-size:0.75em; font-weight:bold;">{{ event.location }}</span>
                            </br>
                    {% for va in allele.variant.variantallele_set.all %}
                        {% for e in va.varianteffect_set.all %}
                        <div style="float:left; height:1em; width:{% sample_allele e.allele event 3 %}%; background-color:{% colour_allele e %}"></div>
                        {% endfor %}
                    {% endfor %}

                    </td>
                    </tr>
                {% endfor %}

                    <tr style="background-color: #333"><td style="padding-top:5px; padding-bottom: 5px"><span style="font-size:1.2em; font-weight:bold;">All Monster Population</span></br>
                    {% for va in allele.variant.variantallele_set.all %}
                        {% for e in va.varianteffect_set.all %}
                    <div style="float:left; height:1em; width:{% sample_allele e.allele d=3 %}%; background-color:{% colour_allele e %}"></div>
                        {% endfor %}
                    {% endfor %}
                    </td>
                </td></tr>
            </table>
            <table class="table table-hover table-active table-sm borderless" style="margin-top:0; margin-bottom:45px;">
                <tr>
                    {% for va in allele.variant.variantallele_set.all %}
                        {% for e in va.varianteffect_set.all %}
                <td style="background-color: #333;" class="text-center" width="{% sample_allele e.allele d=3 %}%">
                        <b>{% sample_allele e.allele d=2 %}%</b>
                    </td>
                        {% endfor %}
                    {% endfor %}
                </tr>

            {% endfor %}
            </table>





        <hr>  
        
        <h3>Nearby Loci</h3>
        {% for reference, pair in loci.items %}
        <table class="table table-hover table-active table-sm borderless">
            <thead class="thead-inverse">
                <th colspan=3>
                    {{ reference }}
                </th>
                <tr>
                {% for p in pair %}
                    <th width=33% class="text-center">
                    {% if p.position %}
                        1:{{ p.position }}
                    {% endif %}
                    </th>
                {% endfor %}
                </tr>
            </thead>

            <tr>
                <td class="text-center" width=33%>
                    {% if pair.0 %}
                    <a href="{% url 'list_monster_allele' pair.0.variant.id %}"><span class="badge badge-danger">&#128065; {{ pair.0.variant }}</span></a>
                    {% endif %}
                </td>
                <td class="text-center" width=33% style="background-color: #444;">
                    <span class="badge badge-danger">{{ pair.1.variant }}</span>
                </td>
                <td class="text-center" width=33%>
                    {% if pair.2 %}
                    <a href="{% url 'list_monster_allele' pair.2.variant.id %}"><span class="badge badge-danger">&#128065; {{ pair.2.variant }}</span></a>
                    {% endif %}
                </td>
            </tr>

        </table>
        {% endfor %}




    </div>

    <div class="col-md-10">
        <div class="card-deck" style="padding-top: 20px">
            {% for monster in monsters %}
                {% include 'monster/card.html' with monster=monster %}
            {% endfor %}
        </div>
    </div>    
    </div>    


{% include 'monster/footer.html' %}

