{% load static %}
{% include 'monster/header.html' %}

{% load dna %}

<div style='
    width: 100%;
    height: 800px;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url("{{ monster.record_image.url }}");
    margin-bottom: 25px;
    background-size: cover;
    '>
<div class="mast">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <span class="badge badge-success">Monster</span>
                <span class="uuid-mast" style="margin-top:0; padding-top:0;">{{ monster.id }}</span>
                <h1>{{ monster.name }}</h1>
            </div>
            <div class="col-md-2 text-right">
                <span class="badge badge-default">Scientist Name</span>
                <span class="uuid-mast" style="margin-top:0; padding-top:0;">{{ monster.scientist_name }}</span>
                <span class="badge badge-default">Scientist Institute</span>
                <span class="uuid-mast" style="margin-top:0; padding-top:0;">{{ monster.institute_name }}</span>
            </div>
            <div class="col-md-2 text-right">
                <span class="badge badge-default">Sequencing Event</span>
                <span class="uuid-mast" style="margin-top:0; padding-top:0;"><code>{{ monster.event.name }}</code></span>
                <span class="badge badge-default">Sequencing Center</span>
                <span class="uuid-mast" style="margin-top:0; padding-top:0;">{{ monster.event.location }}</span>
            </div>
        </div>
    </div>
</div>
</div>

<!--<div style="background-color: white; height:500px; overflow: hidden; margin-bottom: 25px">
    <img style="height: 500px; object-fit: none; object-position: 50% 45%; width:100%" src="{{ monster.record_image.url }}" />
</div>-->

<div class="container">
    <div class="row">
    <div class="col-md-12">
        <table class="table table-active table-sm borderless text-center">
            <thead class="thead-inverse">
                <tr>
                {% for ref, allele in annotations %}
                    <th class="text-center">
                        <span style="font-size:0.8em">1</span>:<span style="font-size:1.3em">{{ ref.position }}</span>
                    </th>
                {% endfor %}
                </tr>
            </thead>
            <tbody>
                <tr>
                {% for ref, allele in annotations %}
                <td class="cell-hover" style="background-color: {% colour_allele allele %}" width="10%">
                    {% if allele %}
                    <span class="base">{{ allele.allele.sequence }}</span>
                    {% else %}
                    <span class="base">N</span>
                    {% endif %}
                </td>
                {% endfor %}
                </tr>




                <tr class="thead-inverse">
                {% for ref, allele in annotations %}
                    <th class="text-center">
                        {% for gene in ref.variant.effects %}
                        <!--<span style="color:black;" class="badge badge-warning">{{ gene }}</span></br>-->
                        {% endfor %}
                    </th>
                {% endfor %}
                </tr>
            </tbody>
        </table>
    </div>
    </div>

<hr>

<div class="row">
    <div class="col-md-12">
        <h1>Genes</h1>
        {% for g in monster.reference.annotate_effects_by_position %}
        {% with gene=g.0 variants=g.1 %}
            
            <table class="table table-hover table-active table-sm borderless">

                <tr style="background-color: #999; color: black;">
                    <th colspan=5>
                        <span class="badge badge-warning">Gene</span> <span>{{ gene }}</span>
                    </th>
                </tr>
                <tr style="background-color: #444; color: white;">
                    <th colspan=5>
                        <span style="font-size:1.6em"><b>{{ gene.desc }}</b></span>
                    </th>
                </tr>
                <tr style="background-color: #444; color: white; font-size:0.8em;">
                    <th colspan=3>
                        <span>{{ gene.name }}</span>
                    </th>
                    <th class="text-right">Monster Sample</th>
                    <th class="text-right">All Monster Population</th>
                </tr>

                {% for v, effects in variants.items %}
                <!--<tr style="background-color: #aaa;">
                    <th colspan=4><span class="badge badge-danger">Variant</span> <span>{{ v }}</span></th>
                </tr>-->
                    {% for e in effects %}
                    <tr>
                        <td style="background-color: #ccc;" class="text-center" width="4%">
                            <a href="{% url 'list_monster_allele' e.allele.variant.id e.allele.sequence %}"><span class="badge badge-success" style="font-size:1.1em">&#128065;</span></a>
                        </td>
                        <th width="2%">
                            {% if e.allele in monster.alleles %}
                                <span style="font-size:1.1em">&#128566;</span>
                            {% endif %}
                        </th>
                        <td><span style="font-weight:bold; font-size:1.1em">{{ e.summary }}</span></td>
                        <td width=20% class="text-right">
                            <div style="float:left; height:1em; width:{{ e.allele.inv_proportion }}%; background-color:#999"></div> 
                            <div style="float:left; height:1em; width:{{ e.allele.proportion }}%; background-color:{% colour_allele e %}"></div> 
                            <div style="clear: both;"></div>
                            <b>{{ e.allele.proportion }}%</b>
                        <td width=30% class="text-right">
                            <div style="float:left; height:1em; width:{% sample_allele_inv e.allele monster.event %}%; background-color:#999"></div> 
                            <div style="float:left; height:1em; width:{% sample_allele e.allele monster.event %}%; background-color:{% colour_allele e %}"></div> 
                            <div style="clear: both;"></div>
                            <b>{% sample_allele e.allele monster.event %}%</b>
                        </th>
                    </tr>
                    {% endfor %}
                {% endfor %}
            </table>
        {% endwith %}
        {% endfor %}
    </div>
  </div>

  <div>
  <table class="table text-center">

      <tr>
  {% for cell in monster.sequence_pmatrix|last %}
    <th class="text-center" style="background-color:#292b2c; color:#fff;">
        <span style="font-size:0.8em">1</span>:<span style="font-size:1.3em">{{ forloop.counter }}</span>
    </th>
  {% endfor %}
  <td></td>
  </tr>

  <tr>
  {% for cell in monster.sequence_pmatrix|last %}
    <td class="cell-hover" style="padding:0;background-color: {% colour_allele cell %}" width="10%">
        <span class="base-sm">{{ cell }}</span>
    </td>
  {% endfor %}
  <td></td>
  </tr>

  <tr>
  {% for row in monster.sequence_pmatrix|slice:"-1" %}
      {% for cell in row|slice:":-1" %}
      <td class="cell-hover" style="vertical-align:middle;{% if cell >= 33 %};font-size:1.2em;font-weight:bold;color:green{% endif %}{% if cell <= 20 %};font-size:1.2em;font-weight:bold;color:red{% endif %}">
          {% if cell > 0 %}
            {{ cell | floatformat:2 }}
          {% endif %}
          </td>
      {% endfor %}
      <td class="cell-hover" style="background-color: {% colour_allele row|last %}" width="10%">
          <span class="base-sm">{{ row|last }}</span>
      </td>
      <th style="background-color:#292b2c; color:#fff;">
        <span style="font-size:0.8em">1</span>:<span style="font-size:1.3em">{{ forloop.counter }}</span>
      </th>
  </tr>
  {% endfor %}
  </table>
  </div>

{% include 'monster/footer.html' %}
