{% if n_labs > 1 %}
<div style="background-color: #222; color: white;">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
            </div>

            <div class="col-md-3 text-center">
            <span style="font-size:4em; color:white; font-weight:bold; padding-top:12px; ">{{ n_labs }}</span>
            <span style="font-size:1.5em; color:white; font-weight:bold; padding-top:12px; ">Labs</span>
            </div>

            <div class="col-md-3 text-center">
            <span style="font-size:4em; color:white; font-weight:bold; padding-top:12px; ">{{ n_monsters }}</span>
            <span style="font-size:1.5em; color:white; font-weight:bold; padding-top:12px; ">Monsters</span>
            </div>

            <div class="col-md-3">
            </div>
        </div>
    </div>
</div>
{% endif %}
<div style="background-color: #888;">
    <div class="container">
    <div class="row">
        <span style="font-size:1.5em; color:white; font-weight:bold; padding-top:12px; ">Latest Labs</span>
    {% for event in events %}
        <h3><a href="{% url 'list_event' event.name %}"><button type="button" class="btn btn-primary" style="margin:10px">{{ event.name }} ({{ event.location }})</button></a></h3>
    {% endfor %}
    </div>
    </div>
</div>

<div style="background-color: #222;">
<div class="container" style="padding-top: 25px;">
        <div class="card-deck">
            {% for monster in monsters %}
                {% include 'monster/card.html' with monster=monster %}
            {% endfor %}
        </div>
</div>
</div>
