{% load static %}
{% include 'monster/header.html' %}

<div class="container" style="margin-top: 25px;">
    <div class="row">
    <div class="col-md-12">
        <table class="table table-active">
            <tbody>
            {% for monster in monsters %}
                <tr>
                    <td>
                    {% if monster.record_image %}
                    <img height=200px src="{{ monster.record_image.url }}" />
                    {% endif %}
                    </td>
                    <td><a href="{% url 'detail' monster.id %}">{{ monster.id }}</a></br><h1>{{ monster.name }}</h1></td>
                    <td>{{ monster.scientist_name }}</br>{{ monster.institute_name }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    </div>
</div>
